extends layout

block content
    form(method='POST', action='/students/add')
        input(name='firstname', type='text', placeholder='Frist Name')
        br
        input(name='lastname', type='text', placeholder='Last Name')
        br
        input(name='age', type='text', placeholder='Age')
        br
        input(name='school', type='text', placeholder='School')
        br
        input(type='submit')
